.caracterisiques_script {
	position 	: relative;
    line-height	: 2em;
    height 		: 2em;
    width 		: 750px;
    margin 		: auto;
}

.caracterisiques_script > div {
	position  	: absolute;
    display 	: inline-block;
    width 		: calc(100% / 3);
    text-align 	: center;
    cursor      : pointer;
}

.caracterisiques_script > div:first-child {
	left  		: 0;
    background 	: #FFCDD2;
}

.caracterisiques_script > div:not(:first-child):not(:last-child) {
	right   	: calc(100% / 3);
    background	: #EF9A9A;
}

.caracterisiques_script > div:last-child {
	right 		: 0;
    background	: #E57373;
}

.description_script {
    text-align: justify;
    padding: 5px;
    max-width: 700px;
    margin: auto;
}
